<div class="card-container">
  <div class="card" style="border: 1px solid grey; border-radius: 6px; padding: 5px;">
    <h4>City</h4>
    <p>{{ city?.Name }}</p>
    <h4>Coordinate(s)</h4>
    <p>{{ transformCoordinatesToDMS(city?.Coordinates) }}</p>
    <h4>Current weather conditions</h4>
    <p>{{ splitCapitaliseFirstLetter(city?.Weather?.Current) }}</p>
    <h4>Temperature in Degrees Celsius</h4>
    <p>{{ toCelsius(city?.Weather?.Actual) }}</p>
    <h4>Feels like in Degrees Celsius</h4>
    <p>{{ toCelsius(city?.Weather?.FeelsLike) }}</p>
  </div>
</div>
