<div class="card-container">
  <div class="card weather-widget-card">
    <h4>City<a (click)="onClickBookmark(city)"><i class="material-icons">{{(city?.Bookmarked) ? 'bookmark' : 'bookmark_border'}}</i></a></h4>
    <p>{{ city?.Name }}</p>
    <h4>Coordinate(s)</h4>
    <p>{{ transformCoordinatesToDMS(city?.Coordinates) }}</p>
    <h4>Current weather conditions</h4>
    <p>{{ splitCapitaliseFirstLetter(city?.Weather?.CurrentWeatherDescription) }}&nbsp;<img src="{{ city?.Weather?.CurrentWeatherIconUri }}" title="{{ splitCapitaliseFirstLetter(city?.Weather?.CurrentWeatherDescription) }}" /></p>
    <h4>Temperature in Degrees&nbsp;{{ getWeatherUnitName() }}</h4>
    <p>{{ city?.Weather?.Actual }}&nbsp;{{ getWeatherUnitSymbol() }}</p>
    <h4>Feels like in Degrees&nbsp;{{ getWeatherUnitName() }}</h4>
    <p>{{ city?.Weather?.FeelsLike }}&nbsp;{{ getWeatherUnitSymbol() }}</p>
  </div>
</div>
